.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


/* test styles */
.txttest1 {
  color: red
}
.txttest2 {
  color: green
}
.txttest3 {
  color: blue
}
.bgtest1 {
  background-color: red
}
.bgtest2 {
  background-color: green
}
.bgtest3 {
  background-color: blue;
}
.bgtest4 {
  background-color: #e8e8e8;
}
.bordertest1 {
  border: solid 1px red;
}
.bordertest2 {
  border: solid 1px green;
}
.bordertest3 {
  border: solid 1px blue;
}